/* для блока автоизации*/

.autorizaton_block {
    width: 590px;
    height: 433px;
    padding-bottom: 100px;
    margin: 130px auto 130px auto;
    background: #eff3f7;
}

.autoriz_name {
    height: 67px;
   
    background: #48cbe8;
    border-bottom: 15px #67dffa solid;
    font-family: 'firasans-light', arial, sans-serif;
    color: #fff;
    text-align: center;
    font-size: 2.5em;
    padding: 17px 10px 10px 10px;
}
/*Настройки формы*/
.auto_form {
    background: #eff3f7;
}

.auto_form .form_autorized {
    margin-top: -32px;
    padding: 0px 83px;
    text-align: center;

}
/*лейблы*/
.auto_form .label_names {
    display: inline-block;
    font-family: 'firasans-light', arial, sans-serif;
    font-size: 2.05em;
    color: #959aa8;
    display: block;
    vertical-align: top;
}
/* поля ввода*/
.auto_form .input_auto_text {
    display: block;
    margin-bottom: 17px;
    padding: 0px 17px;
    width: 388px;
    height: 62px;
    font-family: 'firasans-book', arial, sans-serif;
    font-size: 0.9em;
    color: #48cbe8;
    border: 1px solid #48cbe8;
    border-radius: 2px;
    line-height: 25px;
   
}
/*кнопка*/
.auto_form .buttons {
    background-color: #48cbe8;
    border-bottom: 2px solid #3ba8c0;
    border-radius: 2px;
    font-size: 2.05em;
    position: relative;
    cursor: pointer;
    margin: 17px;
    padding: 0px 65px 0px 65px;
}
.auto_form .buttons:hover {
	border-bottom: 0px solid #3ba8c0;
}

/* плейсхолдеры*/
::-webkit-input-placeholder {
    color: #48cbe8;
}

::-moz-placeholder {
    color: #48cbe8;
}
/* Firefox 19+ */

:-moz-placeholder {
    color: #48cbe8;
}
/* Firefox 18- */

:-ms-input-placeholder {
    color: #48cbe8;
}


