/*форма обратной связи*/

.info_box_cotact_head {
    background-color: #48cbe8;
    border-bottom: 18px #67dffa solid;
    height: 119px;
}

.contact_name {
    border-bottom: none;
    color: #fff;
    font-size: 1.7em;
    padding: 40px 0px 0px 59px;
}
/*имя*/

.name_mail_left {
    display: inline-block;
    float: left;
    width: 200px;
}
/*почта*/

.name_mail_right {
    display: inline-block;
    float: right;
    width: 200px;
}
/*поле : введите сообщение*/

.message_down {
    display: inline-block;
    margin-top: 5px;
    width: 100%;
}
/*настройки формы*/

.contact_form {
    width: 409px;
    padding: 21px 103px 13px;
}

/*.contact_form form {
    width: 500px;
}*/

.contact_form .label_name {
    height: 26px;
    font-family: 'firasans-book', arial, sans-serif;
    font-size: 1.05em;
    color: #959aa8;
    display: block;
    vertical-align: top;
}

.input_name,
.input_mail {
    display: inline-block;
    margin-bottom: 10px;
    padding: 0 9px;
    width: 173px;
    height: 39px;
    font-family: 'firasans-book', arial, sans-serif;
    font-size: 0.9em;
    color: #48cbe8;
    border: 1px solid #48cbe8;
    border-radius: 2px;
    vertical-align: top;
}

.contact_form .buttons{
    display: inline-block;
    color: #fff;
    width: 150px;
    font-size: 1.3em;
    position: relative;
    cursor: pointer;
}

.contact_form .buttons:hover {
    border-bottom: 0px solid #3ba8c0;
}

.input_textarea {
    display: inline-block;
    font-family: 'firasans-book', arial, sans-serif;
    font-size: 0.9em;
    color: #48cbe8;
    border: 1px solid #48cbe8;
    border-radius: 2px;
    padding-top: 10px;
    width: 402px;
    height: 177px;
}

.submit_buttons {
    margin: 20px auto;
    text-align: center;
}
/* кроссбраузерность плейсхолдеров*/

::-webkit-input-placeholder {
    color: #48cbe8;
}

::-moz-placeholder {
    color: #48cbe8;
}
/* Firefox 19+ */

:-moz-placeholder {
    color: #48cbe8;
}
/* Firefox 18- */

:-ms-input-placeholder {
    color: #48cbe8;
}


/* индивидуальное для кнопок*/
.btn_left {
    float: left;
    background-color: #48cbe8;
    border-bottom: 2px solid #3ba8c0;
}

.btn_right {
    float: right;
    background-color: #849db5;
    border-bottom: 2px solid #687b8f;
}
.capcha_form {
	padding-top: 20px;

}
.capcha_label {
	 height: 26px;
    font-family: 'firasans-book', arial, sans-serif;
    font-size: 1.05em;
    color: #959aa8;
    display: block;
}

/*  toooltip  */
/* --------- tooltip --------- */
.divider {
  margin: 50px; }

.tooltip {
  display: inline-block;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -ms-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s; }

.tooltip__inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap; }
  .tooltip__inner:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px; }

.tooltip_right, .tooltip_left {
  padding: 0 5px; }
  .tooltip_right .tooltip__inner:after, .tooltip_left .tooltip__inner:after {
    top: 50%;
    margin-top: -5px; }

.tooltip_top, .tooltip_bottom {
  padding: 5px 0px; }
  .tooltip_top .tooltip__inner:after, .tooltip_bottom .tooltip__inner:after {
    left: 50%;
    margin-left: -5px; }

.tooltip_top .tooltip__inner:after {
  bottom: 0;
  border-top-color: #000;
  border-bottom-width: 0px; }

.tooltip_left .tooltip__inner:after {
  right: 0;
  border-left-color: #000;
  border-right-width: 0px; }

.tooltip_right .tooltip__inner:after {
  left: 0;
  border-right-color: #000;
  border-left-width: 0px; }

.tooltip_bottom .tooltip__inner:after {
  top: 0;
  border-bottom-color: #000;
  border-top-width: 0px; }

/* --------- popups --------- */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none; }

.popup__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); }

.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  padding: 50px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #ffffff; }

.popup__close {
  display: block;
  background: url("/img/close-btn.png") 0 0 no-repeat;
  width: 36px;
  height: 35px;
  position: absolute;
  top: -18px;
  right: -18px; }

.error {
  color: firebrick;
  font-weight: bold; }