/*форма обратной связи*/

.info_box_cotact_head {
    background-color: #48cbe8;
    border-bottom: 18px #67dffa solid;
    height: 119px;
}

.contact_name {
    border-bottom: none;
    color: #fff;
    font-size: 1.7em;
    padding: 40px 0px 0px 59px;
}
/*имя*/

.name_mail_left {
    display: inline-block;
    float: left;
    width: 200px;
}
/*почта*/

.name_mail_right {
    display: inline-block;
    float: right;
    width: 200px;
}
/*поле : введите сообщение*/

.message_down {
    display: inline-block;
    margin-top: 5px;
    width: 100%;
}
/*настройки формы*/

.contact_form {
    width: 409px;
    padding: 21px 103px 13px;
}
/*.contact_form form {
    width: 500px;
}*/

.contact_form .label_name {
    height: 26px;
    font-family: 'firasans-book', arial, sans-serif;
    font-size: 1.05em;
    color: #959aa8;
    display: block;
    vertical-align: top;
}

.input_name,
.input_mail {
    display: inline-block;
    margin-bottom: 10px;
    padding: 0 9px;
    width: 173px;
    height: 39px;
    font-family: 'firasans-book', arial, sans-serif;
    font-size: 0.9em;
    color: #48cbe8;
    border: 1px solid #48cbe8;
    border-radius: 2px;
    vertical-align: top;
}

.contact_form .buttons {
    display: inline-block;
    color: #fff;
    width: 150px;
    font-size: 1.3em;
    position: relative;
    cursor: pointer;
}

.contact_form .buttons:hover {
    border-bottom: 0px solid #3ba8c0;
}

.input_textarea {
    display: inline-block;
    font-family: 'firasans-book', arial, sans-serif;
    font-size: 0.9em;
    color: #48cbe8;
    border: 1px solid #48cbe8;
    border-radius: 2px;
    padding-top: 10px;
    width: 402px;
    height: 177px;
}

.submit_buttons {
    margin: 20px auto;
    text-align: center;
}
/* кроссбраузерность плейсхолдеров*/

::-webkit-input-placeholder {
    color: #48cbe8;
}

::-moz-placeholder {
    color: #48cbe8;
}
/* Firefox 19+ */

:-moz-placeholder {
    color: #48cbe8;
}
/* Firefox 18- */

:-ms-input-placeholder {
    color: #48cbe8;
}
/* индивидуальное для кнопок*/

.btn_left {
    float: left;
    background-color: #48cbe8;
    border-bottom: 2px solid #3ba8c0;
}

.btn_right {
    float: right;
    background-color: #849db5;
    border-bottom: 2px solid #687b8f;
}

.capcha_form {
    padding-top: 20px;
}

.capcha_label {
    height: 26px;
    font-family: 'firasans-book', arial, sans-serif;
    font-size: 1.05em;
    color: #959aa8;
    display: block;
}
/*  toooltip  */
/* --------- tooltip --------- */

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-family: 'firasans-book', arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    filter: alpha(opacity=0);
    opacity: 0;
    line-break: auto;
}

.tooltip.in {
    filter: alpha(opacity=90);
    opacity: .9;
}

.tooltip.top {
    padding: 5px 0;
    margin-top: -3px;
}

.tooltip.right {
    padding: 0 5px;
    margin-left: 3px;
}

.tooltip.bottom {
    padding: 5px 0;
    margin-top: 3px;
}

.tooltip.left {
    padding: 0 5px;
    margin-left: -3px;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #f97e76;
    border-radius: 4px;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #f97e76;
}

.tooltip.top-left .tooltip-arrow {
    right: 5px;
    bottom: 0;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #f97e76;
}

.tooltip.top-right .tooltip-arrow {
    bottom: 0;
    left: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #f97e76;
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #f97e76;
}

.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #f97e76;
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #f97e76;
}

.tooltip.bottom-left .tooltip-arrow {
    top: 0;
    right: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #f97e76;
}

.tooltip.bottom-right .tooltip-arrow {
    top: 0;
    left: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #f97e76;
}

.has-error > .input_name {
    background-color: #fdd5d2;
}

.has-error > .input_mail {
    background-color: #fdd5d2;
}

.has-error > .input_textarea {
    background-color: #fdd5d2;
}
/*.divider {
  margin: 50px; }

.tooltip {
  display: inline-block;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -ms-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s; }

.tooltip__inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap; }
  .tooltip__inner:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px; }

.tooltip_right, .tooltip_left {
  padding: 0 5px; }
  .tooltip_right .tooltip__inner:after, .tooltip_left .tooltip__inner:after {
    top: 50%;
    margin-top: -5px; }

.tooltip_top, .tooltip_bottom {
  padding: 5px 0px; }
  .tooltip_top .tooltip__inner:after, .tooltip_bottom .tooltip__inner:after {
    left: 50%;
    margin-left: -5px; }

.tooltip_top .tooltip__inner:after {
  bottom: 0;
  border-top-color: #000;
  border-bottom-width: 0px; }

.tooltip_left .tooltip__inner:after {
  right: 0;
  border-left-color: #000;
  border-right-width: 0px; }

.tooltip_right .tooltip__inner:after {
  left: 0;
  border-right-color: #000;
  border-left-width: 0px; }

.tooltip_bottom .tooltip__inner:after {
  top: 0;
  border-bottom-color: #000;
  border-top-width: 0px; } 

*/
