/* clearfix */

.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.cf {
    zoom: 1;
}

@font-face {
    font-family: 'firasans-book';
    src: url('../fonts/fira/firasans-book.eot');
    src: url('../fonts/fira/firasans-book.eot?#iefix') format('embedded-opentype'), url('../fonts/fira/firasans-book.woff') format('woff'), url('../fonts/fira/firasans-book.ttf') format('truetype'), url('../fonts/fira/firasans-book.svg#firasans-book') format('svg');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'firasans-medium';
    src: url('../fonts/fira/firasans-medium.eot');
    src: url('../fonts/fira/firasans-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/fira/firasans-medium.woff') format('woff'), url('../fonts/fira/firasans-medium.ttf') format('truetype'), url('../fonts/fira/firasans-medium.svg#firasans-book') format('svg');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'firasans-light';
    src: url('../fonts/fira/firasans-light.eot');
    src: url('../fonts/fira/firasans-light.eot?#iefix') format('embedded-opentype'), url('../fonts/fira/firasans-light.woff') format('woff'), url('../fonts/fira/firasans-light.ttf') format('truetype'), url('../fonts/fira/firasans-light.svg#firasanlight') format('svg');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'proxima_semibold';
    src: url('../fonts/proxima/proxima_semibold.eot');
    src: url('../fonts/proxima/proxima_semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/proxima/proxima_semibold.woff') format('woff'), url('../fonts/proxima/proxima_semibold.ttf') format('truetype'), url('../fonts/proxima/proxima_semibold.svproxima_semibold') format('svg');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'firasans-lightitalic';
    src: url('../fonts/fira/firasans-lightitalic.eot');
    src: url('../fonts/fira/firasans-lightitalic.eot?#iefix') format('embedded-opentype'), url('../fonts/fira/firasans-lightitalic.woff') format('woff'), url('../fonts/fira/firasans-lightitalic.ttf') format('truetype'), url('../fonts/fira/firasans-lightitalic.svg#firasans-book') format('svg');
    font-style: normal;
    font-weight: normal;
}

html {
    height: 100%;
}

body {
    background-image: url('../img/background.jpg');
    font-family: 'firasans-book', Arial, sans-serif;
    height: 100%;
    min-width: 970px;
}
/*общие стили для кнопок*/

.buttons {
    padding: 3px 10px;
    text-align: center;
    border: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-family: 'firasans-book', arial, sans-serif;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.titles_style {
    color: #3ba8c0;
    font-family: 'firasans-book', arial, sans-serif;
}
/* HEADER page TOP HEADER  */

.header_wrap {
 height: 100%;
  min-width: 960px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  /* padding-right: 100px; */
  padding: 0px 75px 0px 52px;

}

.top_header {
    background: #eff3f7 url(../img/line.jpg) bottom repeat-x;
    padding: 41px 0 12px 0;
    height: 67px;
    /* border-bottom: #e7eff3 1px insert;*/
}
/* LOGO logo */

.logo {
    float: left;
    clear: both;
    display: inline-block;
   
}

.logo_hidden {
    font-size: 0px;
}
.socio_hidden {
      position: absolute;
  left: -9999px;
}
/* SOCIAL ICONS */
.socio_nav {
     margin-right: -26px
}
.social {
      float: right;

  margin: 0px 0px 0px 10px;
  padding: 0;
  min-width: 260px;
}

.social .social_pt:first-child {
    margin-left: 0;
}

.social .social_pt {
    list-style: none;
    display: inline-block;
    float: left;
    height: 47px;
    width: 47px;
    margin-right: 23px;
}

.social .social_link {
    display: block;
    height: 100%;
    width: 100%;
    background-image: url('../img/spritesheet.png');
}

.social .social_pt.vk {
    background-position: -5px -119px;
}

.vk {
    background-image: url('../img/spritesheet.png');
    background-position: -5px -119px;
}

.vk:hover {
    background-position: -61px -119px;
}

.fb {
    background-image: url('../img/spritesheet.png');
    background-position: -5px -5px;
}

.fb:hover {
    background-position: -62px -5px;
}

.tw {
    background-image: url('../img/spritesheet.png');
    background-position: -119px -5px;
}

.tw:hover {
    background-position: -119px -62px;
}

.git {
    background-image: url('../img/spritesheet.png');
    background-position: -5px -62px;
    ;
}

.git:hover {
    background-position: -62px -62px;
}
/* CONTENT all_content */

.all_content {
    width: 960px;
    min-width: 970px;
    margin: 0 auto;
    padding: 40px;
    position: relative;
}
/* ASIDE UNchrnge content*/

.unchange_content {
    display: inline-block;
    /* width: 18%; */
    
    min-width: 250px;
    max-width: 250px;
    margin-left: -2px;
    font-size: 1.3em;
      word-wrap: break-word;
}
/* site navigation*/
/* site navigation*/

.site_nav {
    background-color: #eff3f7;
    border-radius: 4px;
    list-style: none;
    color: #ccc;
    padding: 0;
    margin: 0px 0px 30px 0px;
      overflow: hidden;
}
/* links colors*/

.site_nav_pt a{
    border-top: 2px solid #3ba8c0;
}

.first a{
    border-top: hidden;
}

.site_nav a {
    color: #959aa8;
    padding: 20px 0px 18px 19px;
    margin: -2px 10px 0px 10px;
    display: block;
}

.site_nav a:hover {
    color: #3ba8c0;
}

.site_nav a,
.contacts a {
    text-decoration: none;
}

.site_nav {
    border-top: hidden;
}

.site_nav_active {
    background-color: #3ba8c0;
}

.site_nav_active a {
    color: #fff;
    font-size: 1em;
}

.site_nav_active a:hover {
    color: #fff;
}

/* contacts*/

.contacts {
    background-color: #eff3f7;
    border-radius: 4px;
    overflow: hidden;
    text-decoration: none;
    list-style: none;
    line-height: 40px;
   
}
.contacts_list {

  word-wrap: break-word;
  list-style: none;
  margin:0;
  padding: 0;

}

.contacts_pt {
    
background-repeat: no-repeat;
  padding-left: 76px;
  padding-bottom: 1px;
  line-height: 35px;
  display: inline-block;
  word-wrap: break-word;
  width: 173px;
  line-height: 41px;
    }

.name{

     background-color: #3ba8c0;
  padding-left: 16px;
  width: 233px;
}
 .mail{
  background: #41b9d4 url('../img/letter.png') 18px center no-repeat;
}
 .phone{
  background: #48cbe8  url('../img/phone.png') 18px center no-repeat;
}
.skype{
  background: #51daf8 url('../img/skype.png') 18px center no-repeat;
}

.contacts_links {
    text-decoration: none;
     font-family: 'firasans-book', Arial, sans-serif;
    font-size: 21px;
    color: #fff;
} 
.contacts_links_text{
    padding: 2px;
}
.contacts_links_text:hover {
    border-bottom: 1px solid #fff;
}


/* Main content, chenge content*/

.change_content {
      width: 680px;
    display: inline-block;
    float: right;
}
/* обо мне*/

.info_box {
    background-color: #eff3f7;
    border-radius: 5px;
    margin: 0px 370px 37px 16px;
    min-width: 650px;
    max-width: 750px;
}

.info_boxes_name {
    color: #3ba8c0;
    display: inline-block;
    border-bottom: 2px solid #3ba8c0;
    padding: 11px 22px;
    font-size: 1.7em;
    margin: 0;
    font-weight: 100;
}

.photo_wrap {
    float: left;
    margin: 11px 21px 0 34px;
}

.photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #31a6bc;
}

.photo img {
    width: 100%;
}

.info_about {
    display: inline-block;
    /* float: right; */
    /*width: 57%;*/
    
    width: 390px;
    margin: -3px -41px;
    font-size: 0.95em;
    line-height: 32px;
}

.info_about_bold {
    font-family: 'firasans-medium', arial, sans-serif;
    font-size: 1.05em;
    color: #4a545d;
    padding-right: 10px;
}

.info_about_wrap {
    padding: 20px 20px 41px 20px;
}

.info_about_point {
    min-width: 406px;
    word-wrap: break-word;
}

.skills_wrap {
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    float: right;
    width: 234px;
    padding: 0px;
    margin: 0px;
}

.skills {
    display: inline-block;
    background-image: -webkit-linear-gradient( 90deg, rgb(46, 140, 162) 0%, rgb(46, 140, 162) 50%, rgb(59, 168, 192) 53%, rgb(59, 168, 192) 100%);
    padding: 0px 12px;
    border-radius: 3px;
    color: #fff;
    margin: 11px 7px 0px 3px;
    font-family: 'proxima_semibold';
    font-size: 14px;
}

.no-rgba .skills {
    background-color: #51daf8;
    background-image: url('../img/skills_ie.jpg');
}

.info_about,
.info_experience,
.info_education {
    list-style: none;
}
/*опыт работы*/

.info_experience {
    padding: 0px 0px 20px 51px;
    margin-top: 17px;
}

.info_exp_point {
    background: url('../img/portf.png') 8px center no-repeat;
    background-repeat: no-repeat;
    padding-left: 76px;
    line-height: 35px;
    display: inline-block;
    word-wrap: break-word;
    width: 460px;
}

.info_exp_worck {
    font-size: 1.05em;
    color: #4a545d;
}

.info_exp_time {
    margin-top: 0;
    font-family: 'firasans-light', arial, sans-serif;
    font-size: 0.95em;
    color: #4a545d;
}
/*образование*/

.info_education {
    padding: 0px 0px 20px 51px;
}

.info_education_point {
    padding-left: 80px;
    line-height: 45px;
    word-wrap: break-word;
    width: 460px;
}

.decor_head {
    background: url('../img/science.png') 8px center no-repeat;
    background-repeat: no-repeat;
}

.decor_list {
    background: url('../img/list.png') 17px center no-repeat;
    background-repeat: no-repeat;
}

.info_edu {
    font-size: 1.05em;
    color: #4a545d;
}

.info_edu_time {
    margin-top: 0;
    line-height: 9px;
    font-family: 'firasans-light', arial, sans-serif;
    font-size: 0.95em;
    color: #4a545d;
}
/* FOOTER*/
/* прибьём футер к низу*/

.page_footer {
    height: 80px;
    margin-top: -80px;

    background: #eff3f7 url(../img/line.jpg) top repeat-x;
}

.page_footer .footer_container {
   padding-top: 23px;
    position: relative;
}

.footer_container {
    width: 960px;
    margin: 0 auto;
}

.page_footer .lock_image {
    position: absolute;
    top: 26px;
    left: 20px;
}

.page_footer .lock_link {
    display: block;
    height: 40px;
    color: #4a545d;
    text-decoration: none;
    background: url(../img/log.png) no-repeat;
    padding-left: 24px;
}

.lock_link:hover {
    background-position: 0px -38px;
}

.footer_text {
    margin: 0 180px;
    padding-top: 7px;
    text-align: center;
    font-family: 'firasans-book', arial, sans-serif;
    font-size: 0.9em;
    color: #4a545d;
}

.wrapper {
    position: relative;
    min-height: 100%;
    height: auto!important;
    overflow: hidden;
}

.wrapper:after {
    content: "";
    height: 80px;
    display: block;
}
